@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Noto+Sans+KR:wght@500&family=Permanent+Marker&display=swap");

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #edf0eb;
}

.sign-in {
  display: flex;
  width: 70vw;
  height: 75vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo_container {
  width: 30vw;
}

.logo_container h1 {
  font-family: "Chonburi", cursive;
  color: #fde5d2;
}

.logo {
  width: 100%;
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
  /* background-color: #e7dcc8; */
  background-image: url("../assets/images/login-bg5.jpg");
  background-size: cover;
  border-radius: 12px 0 0 12px; /* 수정 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
}

.sign-in #login-box {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in #login-box h3 {
  font-family: "Chonburi", cursive;
  margin-bottom: 4rem;
  font-size: 4.3rem;
  text-decoration: #bccbea wavy underline;
  text-underline-position: under;
}

#login-form {
  width: 60%;
}

input:focus {
  outline: none;
}

.sign-in #login-Btn {
  color: #ffff;
  width: 80%;
  padding: 1rem;
  border-radius: 40px;
  border: 0;
  background-color: black;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sign-in #login-Btn:hover {
  color: black;
  box-shadow: 0 0 0 2px #000 inset;
  background-color: white;
  transition: 0.5s;
}

.sign-in #google-login {
  color: #ffff;
  width: 80%;
  padding: 1rem;
  border-radius: 40px;
  border: 0;
  background-color: black;
  font-size: 14px;
  cursor: pointer;
}

.sign-in #google-login:hover {
  color: black;
  box-shadow: 0 0 0 2px #000 inset;
  background-color: white;
  transition: 0.5s;
}

.sign-in #form-box ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: smaller;
  margin-top: 2rem;
  color: rgb(106, 106, 106);
  padding-left: 0rem !important;
}

.sign-in #form-box ul li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

#register-Btn,
#find-Btn {
  border: none;
  font-family: customFont;
  background-color: white;
  font-weight: 350;
  color: gray;
  margin-top: -2.5px;
  cursor: pointer;
}
